
select
{
font-size:16px;
font-family:Comic Sans MS;
border-radius:5px ; 
border:1px solid black;
}

input
{
color:black;
font-size:16px;
font-family:Comic Sans MS;
border-radius:5px ; 
border:1px solid #40B3DF;
opacity:0.9;
}

#signup_form
{
position:absolute;
left:400px;
top:140px;
font-family:Comic Sans MS;
font-size:20px;
color:dodgerblue;
}

div.trans_box
{
   position:absolute;
   top:130px;
   left:370px;
   width:440px;
   height:490px;
   background-color:green;
   border:5px solid dodgerblue;
   opacity:0.5;
}

/*#tab span 
	{
	float:left;
	display:block;
	background:url("p1.jpg") no-repeat right top;
	backgroumd-color:dodgerblue;
	padding:5px 10px 7px 10px;
	border-radius:20px;
	color:#fff;
	opacity:0.7;
	}
#tab:hover span 
	{
	color:#fff;
	opacity:1.0;
	font-size:12px;
	}*/
	
